@model SoftDrunk.Models.Category

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Category</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryName)
        </dd>

    </dl>
    <table class="table">
        <tr>
            <th>
                Product Name
            </th>
            <th>
                Description
            </th>
            <th>
                Price
            </th>
            <th>
                Image
            </th>
            <th>
                Category
            </th>
            <th>
                Action
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Products)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductDecription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductImage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.CategoryName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ProductID }, new { @class = "btn btn-info" }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ProductID }, new { @class = "btn btn-success" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ProductID }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CategoryID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
